.popup__close {
    width: 26px;
    height: 26px;
    background: transparent url(../../../images/Close\ Icon.svg) center no-repeat;
    background-size: 26px 26px;
    border: none;
    position: absolute;
    top: 72.62px;
    right: 18.6px;
    /* left: 0;
    bottom: 0; */
    cursor: pointer;
    transform: opacity 0.2s ease-in-out;
}

.popup__close:hover {
    opacity: .6;
}

@media(min-width: 1280px) {
    .popup__close {
        width: 40px;
        height: 40px;
        background-size: 40px 40px;
        top: 146.72px;
        right: 376.72px;
    }
}