.popup__close {
    border-style: none;
    margin: 0;
    width: 40px;
    height: 40px;
    background: transparent url(../../../images/Close_Icon.svg) center no-repeat;
    background-size: contain;
    border: none;
    position: absolute;
    top: -50px;
    right: -2px;
    cursor: pointer;
    transform: opacity 0.2s ease-in-out;
    padding: 0;
}

.popup__close:hover {
    opacity: .6;
}

@media(min-width: 768px) {
    .popup__close {
        width: 58px;
        height: 58px;
        top: -49px;
        right: -49px;
    }
}
