  .popup__input {
    border-style: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    margin-top: 30px;
    font-family: inherit;
    font-size: 14px;
    line-height: 17px;
    width: 238px;
    outline: none;
    padding-bottom: 9px;
}

@media(min-width: 768px) {
    .popup__input {
        width: 358px;
        margin-top: 29px;
    }
}