.popup__description {
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    margin-bottom: 45px;
    font-family: inherit;
    font-size: 14px;
    line-height: 16.94px;
}
.popup__description:focus {
    outline-color: white;
}

@media(min-width: 768px) {
    .popup__description {
        width: 358px;
    }
}