.profile__name {
    display: inline-block;
    margin: 0;
    font-size: 27px;
    line-height: 32.68px;
    font-weight: 500;
}

@media (min-width: 1280px) {
    .profile__name {
        font-size: 42px;
        line-height: 48px;
        font-weight: 500;
    } 
}