.profile__name {
    margin: 0;
    font-size: 27px;
    line-height: 33px;
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    /* min-width: 282px; */
}

@media (min-width: 1024px) {
    .profile__name {
        font-size: 42px;
        line-height: 48px;
        max-width: 538px;
    } 
}