.elements {
    font-family: 'Inter', Arial, sans-serif;
    display: grid;
    grid-template-columns: 100%;
    row-gap: 20px;
    margin-bottom: 48px;
}

@media (min-width: 540px) {
    .elements {
        margin-bottom: 67px;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 17px;
    }
}

@media (min-width: 768px) {
    .elements {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .elements {
        min-width: 880px;
        grid-template-columns: repeat(3, calc(100%/3));
    }
}

@media (min-width: 1024px)  {
    .elements {
        grid-template-columns: repeat(3, 1fr);
    }
}