.footer__copyright {
    font-family: 'Inter', Arial, sans-serif;
    color: #545454;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
}

@media (min-width: 1024px) {
    .footer__copyright {
        font-size: 18px;
        line-height: 22px;
    }
}