.popup__form {
    background-color: white;
    display: flex;
    flex-direction: column;
    /* position: relative; */
    align-items: center;
    /* margin-top: 123px;
    margin-right: 19px;
    margin-left: 19px;
    border-radius: 10px; */
}

@media(min-width: 1280px) {
    .popup__form {
        /* margin-top: 195px;
        margin-left: 425px;
        margin-right: 425px; */
    }
}