.wrapper {
    margin-right: 19px;
    margin-left: 19px;
}

@media (min-width: 768px) {
    .wrapper {
        margin-right: 50px;
        margin-left: 50px;
    }
}

@media (min-width: 1024px) {
    .wrapper {
        max-width: 880px;
        margin-left: auto;
        margin-right: auto;
    }
}