.header__logo {
    /* display: block; */
    width: 103.74px;
    height: 24.4px;
    margin-bottom: 31.6px;
    margin-left: 19px;
}

@media (min-width: 768px) {
    .header__logo {
        width: 142px;
        height: 33px;
        margin-left: 50px;
    }
}

@media (min-width: 1024px) {
    .header__logo {
        /* margin-top: 45px; */
        margin-right: 100px;
        margin-left: 100px;
        /* margin-bottom: 60px; */
    }
}

@media (min-width: 1280px) {
    .header__logo {
        margin-left: 200px;
    }
}