.popup__photo-container {
margin: 136px auto 133px;
   display: flex;
   flex-direction: column;
   position: relative;
}

@media(min-width: 1024px) {
    .popup__photo-container {
        max-width: 916px;
        margin: 90px auto 90px auto;
    }
}