.popup__photo-container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 136px;
}

@media(min-width: 1024px) {
  .popup__photo-container {
      margin-top: 90px;
      margin-right: auto;
      margin-left: auto;
      max-width: 816px;
  }  
}