.page {
    background-color: #000000;
    margin-top: 28px;
    margin-bottom: 36px;
    margin-left: 0;
    margin-right: 0;
}

@media(min-width: 1280px) {
    .page {
        margin-top: 45px;
        margin-bottom: 60px;
    }
}