  .elements__element{
    max-width: 282px;
    background-color: white;
    border-radius: 10px;
    position: relative;
}

@media (min-width: 768px) {
    .elements__element {
        width: 100%;
    }
}