.profile__general {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

@media (min-width: 768px) {
    .profile__general {
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: nowrap;
    }
}