.profile__general {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    align-items: center;
    flex-wrap: wrap;
}

@media (min-width: 768px) {
    .profile__general {
        flex-direction: row;
        justify-content: flex-start;
    }
}