.elements__overlay {
    /* background-color: white; */
    display: flex;
    justify-content: space-between;
    padding: 0;
    padding-right: 30px;
    padding-left: 21px;
    padding-bottom: 31px;
}