.profile__description {
    margin: 14px 0 36px;
    text-align: center;
    font-size: 14px;
    line-height: 16.94px;
    font-weight: 400;
}

@media (min-width: 1280px) {
    .profile__description {
        text-align: start;
        font-size: 18px;
        line-height: 21.78px;
        margin-bottom: 0;
    }
}