.profile__edit {
    width: 18px;
    height: 18px;
    background: url(../../../images/Edit_button.svg) center no-repeat;
    background-size: contain;
    margin-left: 10px;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
    align-self: center;
    border: none;
}

.profile__edit:hover {
    opacity: 0.6;
}

@media (min-width: 1024px) {
    .profile__edit {
        width: 24px;
        height: 24px;
        padding: 0;
        margin-left: 18px;
    }
}