.profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 10px;
}

@media (min-width: 429px) {
    .profile__info {
        text-align: left;
        display: grid;
        grid-template-columns: auto auto;
        margin-left: 30px;
    }
}