.profile__info {
    text-align: center;
}

@media (min-width: 1280px) {
    .profile__info {
        text-align: left;
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 18px;
        margin-left: 30px;
    }
}