.popup__name {
    border-style: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    margin-bottom: 30px;
    font-family: inherit;
    font-size: 14px;
    line-height: 16.94px;
}
.popup__name:focus {
    outline-color: white;
}

@media(min-width: 768px) {
    .popup__name {
        width: 358px;
    }
}

@media(min-width: 1280px) {
    .popup__name {
        width: 358px;
    }
}