  .header__logo {
    width: 103.74px;
    height: 24.4px;
    margin-bottom: 31.6px;
    margin-left: 18px;
}


@media (min-width: 768px) {
    .header__logo {
        width: 142px;
        height: 33px;
        margin-bottom: 41px;
    }
}