.profile {
    font-family: 'Inter', Arial, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 36px;
    
}

@media (min-width: 768px) {
    .profile {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr max-content;
        margin-bottom: 27.25px;
    }
}