.profile {
    font-family: 'Inter', Arial, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 36px;
    
}

@media (min-width: 1280px) {
    .profile {
        /* flex-direction: row;
        justify-content: space-between; */
        display: grid;
        grid-template-columns: 1fr max-content;
    }
}