.popup__title {
    font-size: 18px;
    line-height: 21.78px;
    font-weight: 900;
    margin: 25px 18px 75px;
}

@media(min-width: 1280px) {
    .popup__title {
        margin-top: 34px;
        font-size: 24px;
        line-height: 29.05px;
    }
}