.profile__add-button {
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
    width: 100%;
    height: 50px;
}

.profile__add-button:hover {
    opacity: 0.6;
}

@media (min-width: 1280px) {
    .profile__add-button {
        align-self: center;
        display: block;
    }
}